:host {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 50%;
  background-color: #e5e5e5;
  position: absolute;
  top: 5rem;
  // left: 1rem;
  // height: 2.5rem;
  // width: 2.5rem;
  // transition: all 0.3s;

  height: auto;
  width: auto;
  border-radius: 0.25rem;

  &:hover {
    height: auto;
    width: auto;
    border-radius: 0.25rem;

    ul {
      display: block;
    }
  }

  ul {
    display: none;
    display: block;
    padding: 0rem 2rem;
    li {
      padding: 0.5rem 0;
      border-bottom: 1px solid gray;
      list-style-type: cjk-earthly-branch;
    }
  }
}

a {
  color: black;
  text-decoration: none;
}
