:host {
  display: grid;
  grid: "header" 4rem
        "nav   " 5rem
        "main  " auto
        "products" auto
        "footer" 4rem /
        1fr;
  gap: 1rem;

  @media screen and (min-width: 600px) {
    grid: "header   header  " 4rem
          "nav      main    " auto
          "products products" auto
          "footer   footer  " 4rem /
          15rem 1fr;
  }
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;

  .ice-cards {
    display: grid;
    gap: 1rem;
    grid: 8rem / repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.wrapper-ice {
  padding: 4rem 0;
  grid-area: products;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;

  > img {
    grid-column: span 12;
  }

  @media screen and (min-width: 360px) {
    > img {
      grid-column: span 6;
    }
  }

  @media screen and (min-width: 600px) {
    > img {
      grid-column: span 4;
    }
  }

  @media screen and (min-width: 800px) {
    > img {
      grid-column: span 3;
    }
  }
}

footer {
  grid-area: footer;
  text-align: center;
}
