<header></header>
<nav></nav>
<main>
  <section>
    <h1>Ice Creams</h1>
    <h4>Our delicious selection of ice creams for you to enjoy!</h4>
  </section>
  <div class="ice-cards">
    <article *ngFor="let item of products; let i=index" class="card">
      <div class="card-body">
        <img [src]="'/assets/img/'+ item.imgUrl">
        <h5>{{ item.name }}</h5>
        <p> &#8364;{{ item.price }}</p>
      </div>
    </article>
  </div>
</main>
<!-- <section class="wrapper-ice">
  <img
    *ngFor="let item of iceCreams"
    [src]="'/assets/img/ice'+ item + '.jpg'"
  >
</section> -->
<!-- <img
  *ngFor="let item of iceCreams"
  class="img-ice"
  [src]="'/assets/img/ice'+ item + '.jpg'"
> -->
<footer>
  &copy; 2021 Ice cream shop &mdash; All rights reserved
</footer>
